<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>[Branding] Calculator 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">[Branding] Calculator 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header><h2>Calculator Name</h2></ion-card-header>
      <ion-card-content>
        <p style="text-align: left;">This is a description of this quiz. It tells you all you need to know and maybe some background.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <span><label for="age-input" style="width: 50%; float:left; text-align:right; padding:10px;">Age</label><ion-input id="age-input" type="number" value="45" style="width: 50%;float:left;"></ion-input></span>
        <span><label for="weight-input" style="width: 50%; float:left; text-align:right; padding:10px;">Weight</label><ion-input id="weight-input" type="number" value="180" style="width: 50%; float:left;"></ion-input></span>
        <span><label for="height-input" style="width: 50%; float:left; text-align:right; padding:10px;">Height (in)</label><ion-input id="height-input" type="number" value="72" style="width: 50%; float:left;"></ion-input></span>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <span><label for="21-input" style="width: 50%; float:left; text-align:right; padding:10px;">Question A</label><ion-input id="21-input" type="number" value="45" style="width: 50%;float:left;"></ion-input></span>
        <span><label for="22-input" style="width: 50%; float:left; text-align:right; padding:10px;">Question B</label><ion-checkbox id="22-input" value="true" style="margin:8px; margin-left:80px; float:left;"></ion-checkbox></span>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <span><label for="31-input" style="width: 50%; float:left; text-align:right; padding:10px;">Question X</label><ion-input id="31-input" type="number" value="45" style="width: 50%;float:left;"></ion-input></span>
        <span><label for="32-input" style="width: 50%; float:left; text-align:right; padding:10px;">Question Y</label><ion-input id="32-input" type="number" value="55" style="width: 50%;float:left;"></ion-input></span>
        <span><label for="33-input" style="width: 50%; float:left; text-align:right; padding:10px;">Question Z</label><ion-input id="33-input" type="number" value="65" style="width: 50%;float:left;"></ion-input></span>
      </ion-card-content>
      
    </ion-card>
    <ion-button expand="block">Confirm and see results</ion-button>
  </div>
</ion-content>
