<div id="calculator-main">
  <div class="shown">
    <ion-card>
      <ion-card-header><h2>{{model.name}}</h2></ion-card-header>
      <ion-card-content>
        <p style="text-align: left;">{{model.description}}</p>
      </ion-card-content>
    </ion-card>

    <div class="calculator-question-groups" *ngFor="let questionGroup of model.questionGroups">
      <app-question-group [model]="questionGroup" (questionGroupValueChange)="onChange($event)"></app-question-group>
    </div>

    <ion-button expand="block" (click)="onConfirmClick()">Confirm and see results</ion-button>
  </div>
</div>